{% extends "/layouts/base.html"%} {% block title %}ChihuaEvents{% endblock %} {% block body %}
<div class="p-5 rounded-3 mb-5 text-center" style="color: white;">
	<div class="py-4">
		<div class="position-relative">
            <div class="img-start shadow">
                <img src="{{ url_for('static', filename='img/cuu_centro.jpg') }}" alt="Chihuahua City" class="img-fluid">
            </div>
            <div class="position-absolute top-50 start-50 translate-middle text-center">
                <div class="bg-dark bg-opacity-75 p-4 rounded">
                    <h1 class="fw-bold text-white">Descubre la Cultura de Chihuahua</h1>
                    <p class="text-white fs-5">Explora los mejores eventos culturales de la ciudad</p>
                </div>
            </div>
        </div>
		<button class="view btn btn-lg px-4" style="background-color: #338346; color: #fff;">
			<a href="/events" class="text-decoration-none" style="color: #fff;">Ver todos los eventos</a>
		</button>
	</div>
</div>


<div class="mb-5">

	<div class="container position-relative py-4">
		<div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="false">
			<div class="carousel-inner px-5">
				{% for slide in events|batch(3) %}
				<div class="carousel-item {% if loop.first %}active{% endif %}">
					<div class="row g-4">
						{% for event in slide %}
						<div class="col-12 col-sm-6 col-md-6 col-xl-4">
							<div class="card h-100 shadow-sm">
								<div class="position-relative">
									<img class="card-img-top" src="{{ url_for('static', filename='img/events/' ~ event.image) }}" alt="{{ event.name }}" style="min-height: 255px; object-fit: cover;" />
									<span class="position-absolute top-0 end-0 m-2 px-2 py-1 rounded-pill fs-6" style="background-color: #338346; color: #324b4f;">{{ event.type.name }}</span>
								</div>
								
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
			
		</div>
	</div>
	{% endblock %}
</div>